body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
}
#title{
    background-color: rgb(247, 48, 91);
}
.nav_style{
    padding: 5% 8% 5% 8%;
}
.nav_brand_style{
    padding-left: 1%;
    font-size: 200%;
    
    font-family: 'Ubuntu', sans-serif;
}
.nav-item{
    font-size: 130%;
    padding: 2% 5% 2% 5%;
    font-weight: 900;
}
h1{
    
    font-size:350%;
    font-weight:900;
    color: white;
    
}
h3{
    font-weight: 900;
}
.apple,.windows{
   margin: 5% 2% auto auto;
}
.cat_profile{
 width: 90%;


}
.gif{
    padding: 8%;
}
.features_style
{
margin: 15% 8% 10% 8%;
text-align: center;
}    
.f_name
{
    padding-top: 8% ;
}
.f_1{
    padding-left: 4% ;
    padding-right: 4%;
}   

.icon{
    color:  #ef8172;
}
.icon:hover{
    color: #ff4668;
}
.testimonails_press{

    text-align:center;
    padding: 5% 15%;
    background-color: rgb(248, 136, 136);
    color: #fff ;
    line-height: 1.5rem;


}
.test_desc{
    font-size: 2rem;
    font-weight: 900;
}
.press_logo{
    padding: 2%;
    width: 20%;
}
.test_img{
    padding: 4% 2%;

    width: 25%;
}
.pricing{
 text-align: center;
    padding: 5% 15%;
}
.c_b{
    text-align: center;
    padding: 5% 3%;

}
.sign_up_btn{
    width: 100%;
}


.c_b:hover{
    transform: scale(1.05);
}
.c_f{
    background-color: white;
}

.footer{
    text-align: center;
    background-color: rgb(247, 48, 91); 
    padding: 3%;
}

.contact{
text-align: center;
padding: 4%;
}
.social-icons{
    padding: 1%;
}
.copy_right{
    padding: 2% 0.5% 0.5% 0.5%;
}
.social_icon-i:hover{
    color:red;

}
.social_icon-p:hover{
    color: #E60023;

}
.social_icon-f:hover{
    color:	#4267B2;
}
.social_icon-t:hover{
    color:	#1DA1F2;
}